/*
 * CSS File for the solution
 * Assignment 03
 * You can modify these styles but you don't have to
 */

/*
 VARIABLES
*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(254,208,187);
  background: radial-gradient(circle, rgba(254,208,187,1) 89%, rgba(128,15,47,1) 100%);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header, main {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main input, main button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
} 




