/*
 * CSS File for the solution
 * Assignment 03
 * You can modify these styles but you don't have to
 */

/*
 VARIABLES
*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(254,208,187);
  background: radial-gradient(circle, rgba(254,208,187,1) 89%, rgba(128,15,47,1) 100%);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header, main {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

 main button {
  color: #800f2f;
  background: white ;
  cursor: pointer;
  transition: all o.3s ease;
 }

 main button:hover {
  background: #800f2f;
  color: #fed0bb;
 }

.container {
  padding: 2em 2.5em;
  background-color: white;
  box-shadow: 0 1em 2em #800f2f;
}

#wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 1em;
}

#wrapper input{
  width: 100%;
  background-color: transparent;
  font-size: 0.9em;
  border: none;
  border-bottom: 2px solid #800f2f;
}

#wrapper input:focus {
  outline: none;
  border-color: #800f2f;
}

main input, main button {
  padding: 0.5rem;
  font-size: 2rem;
  border: #800f2f;
  background: white;
} 

#wrapper button {
  position: relative;
  border-radius: 0.5em;
  font-weight: 500;
  font-size: 1em;
}

#error {
  text-align: center;
  background-color: white;
  box-shadow: 0 1em 2em #800f2f;
  margin-top: 1.5em;
  padding: 1em;
  display: none;
}


